:root {
  --main-text-color: #070707;
  --complementary-color: #828282;
  --second-complementary-color: #ffffff;
  --activity-text-color: #2196f3;
  --main-background-color: #ffffff;
  --complementary-backgraund-color: #2f303a;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--main-text-color);
  width: 1445px;
  margin-left: auto;
  margin-right: auto;
  font-family: Abel;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}
.container {
  width: 940.6px;
  margin-left: auto;
  margin-right: auto;
}

.head-nav {
  display: flex;
  height: 88px;
  width: 940.1px;
  border-bottom: 1px solid #828282;
  transform: matrix(1, 0, 0, 1, 0, 0);
  align-items: center;
}

.site-nav {
  display: flex;
  width: 940px;
  justify-content: space-between;
}

.site-nav .link {
  color: var(--complementary-color);
}

/* hero */

.position {
  display: flex;
  align-items: center;
  width: 927px;
}
.position .name {
  font-weight: normal;
  font-size: 47.3392px;
  line-height: 60px;
  margin-top: 39.69px;
  margin-bottom: 30.64px;
  margin-right: 297.23px;
}
.position .prof {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}
.position .img {
  display: block;
  width: 930px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-bottom: 105px;
}
.bgrimg {
  padding-bottom: 105px;
}
.button {
  background-color: black;
  color: white;
}
/* :not(:last-child) {
  margin-right: 165.65px; */

/* about */

.about {
  background-color: #f6f6f6;
  text-align: center;
}
.about .title {
  font-weight: normal;
  font-size: 34px;
  line-height: 43px;
  padding-top: 120.25px;
  padding-bottom: 20px;
}
.about .description {
  font-family: Abel;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  padding-right: 40px;
  padding-bottom: 105px;
}
/* ==============SKILS============= */

.skils {
  padding-top: 90px;
  padding-bottom: 110px;
}
.skils .title {
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 43px;
  text-align: center;
  margin-bottom: 69px;
}
.skils .descript {
  text-align: center;
  margin-bottom: 83px;
}
.programs {
  display: flex;
  justify-content: space-between;
}
.programs .item {
  display: inline-block;
  width: 166.46px;

  align-items: center;
}
.po {
  text-align: center;
  margin-bottom: 41px;
}

.programs .item::before {
  content: "";
  display: block;
  margin-bottom: 24px;

  height: 89px;
  /* background-image: url(./images/icons/1_ps.svg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.programs .item:nth-child(1)::before {
  background-image: url(./images/icons/1_ps.svg);
}
.programs .item:nth-child(2)::before {
  background-image: url(./images/icons/2_ai.svg);
}
.programs .item:nth-child(3)::before {
  background-image: url(./images/icons/3_ae.svg);
}
.programs .item:nth-child(4)::before {
  background-image: url(./images/icons/4_figma.svg);
}

.programs .item::after {
  content: "";
  display: block;

  height: 26px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.programs .item:nth-child(1)::after {
  background-image: url(./images/icons/4star.svg);
}
.programs .item:nth-child(2)::after {
  background-image: url(./images/icons/3star.svg);
}
.programs .item:nth-child(3)::after {
  background-image: url(./images/icons/4star.svg);
}
.programs .item:nth-child(4)::after {
  background-image: url(./images/icons/4star.svg);
  margin-top: 59px;
}
