:root {
  --main-text-color: #070707;
  --complementary-color: #828282;
  --second-complementary-color: #ffffff;
  --activity-text-color: #2196f3;
  --main-background-color: #ffffff;
  --complementary-backgraund-color: #2f303a;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--main-text-color);
  width: 1145px;
  margin-left: auto;
  margin-right: auto;
  font-family: Abel;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}
.container {
  width: 940.6px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: black;
  color: white;
}

.head-nav {
  display: flex;
  height: 88px;
}
.nav {
  display: block;
  display: flex;

  border-bottom: 1px solid #828282;
  transform: matrix(1, 0, 0, 1, 0, 0);
  align-items: center;
}
.site-nav {
  display: flex;
}
.site-nav .item:not(:last-child) {
  margin-right: 155.65px;
}
.site-nav .link {
  color: var(--complementary-color);
}
